/* Richard Davies, Data Science for Economists */

/* This is my second proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(211, 230, 232);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(50, 50, 50);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(172, 194, 205);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:330px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(7, 7, 7);

    
}
