/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(234, 237, 237);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(50, 50, 50);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}



.project1{
    margin: auto;
    max-width: 800px;
    background-color: rgb(234, 237, 237);
    text-align: center;

}

/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width: 400px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(7, 7, 7);
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    margin: auto;
    
    
    
}
#link1{
    border:2px;
    font-family: Arial, Helvetica, sans-serif;
    border-color:black;
    border-style: solid;
    padding: 15px;
    border-radius: 1px;
    text-align: centre;
    display: inline-block;
    color: black;

    text-decoration: none;
}

#link1:hover{
    background-color: rgba(180, 184, 195, 0.3);

    border:2px;
    border-color:rgb(127, 127, 107);
    border-style: solid;
    
}

#link2{
    border:2px;
    font-family: Arial, Helvetica, sans-serif;
    border-color:black;
    border-style: solid;
    padding: 15px;
    border-radius: 1px;
    text-align: centre;
    display: inline-block;
    color: black;

    text-decoration: none;
}

#link2:hover{
    background-color: rgba(180, 184, 195, 0.3);

    border:2px;
    border-color:rgb(127, 127, 107);
    border-style: solid;
    
}